body, html {
    background-image: url("images/white.png");
    position: relative;
    height: 100%;
    min-width: 1400px;
    margin: 0px;
}

li {
    list-style: none;
}

.cpd-header h3 {
    padding-top: 20px;
    text-align: center;
}

.cpd-main {
    position: relative;
    width: 96%;
    min-width: 1400px;
    min-height: 80%;
    margin-bottom: 30px;
    display: block;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 3px 3px 5px #c9c9c9;
    background-color: white;
    background-color: #fffff8;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border: 1px dashed  #98abb9;
    -moz-box-shadow: 0 0 0 4px #fffff8, 1px 1px 4px 3px rgba(10,10,0,.5);
    -webkit-box-shadow: 0 0 0 4px #fffff8, 1px 1px 4px 3px rgba(10,10,0,.5);
    box-shadow: 0 0 0 4px #fffff8, 1px 1px 6px 3px rgba(10,10,0,.5);
    font-size: 11px;
}

.cpd-subtitle {
    position: relative;
    text-align: center;
    font-size: 11px;
    font-family: Helvetica, sans-serif;
    color: #c9c9c9;
    display: block;
}

.selected {
    color: black;
    text-decoration: underline;
}

.cpd-subtitle span {
    position: relative;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.cpd-subtitle span:hover {
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

.cpd-main-menu-area {
    position: relative;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    left: 2.5%;
    width: 95%;
}

#namespace-list-area {
    position: relative;
    display: inline-block;
    padding: 30px;
    width: 300px;
    overflow-x: auto;
}

#timestamp-list-area {
    position: relative;
    display: inline-block;
    padding: 30px;
    width: 300px;
    overflow-x: auto;
}

#namespace-list-area div:hover {
    cursor: pointer;
    text-decoration: underline;
}

#timestamp-list-area div:hover {
    cursor: pointer;
    text-decoration: underline;
}

#ranking-title {
    text-align: center;
}

.cpd-border-line {
    position: relative;
    text-align: center;
    height: 1px;
    color: black;
    border: solid #3cb371;
    opacity: 0.5;
    padding-bottom: 30px;
    border-bottom: medium;
    border-left: none;
    border-right: none;
}

#namespace {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 70%;
    /*width: 1000px;*/
}

.cpd-table-area {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 70%;
}

#namespace-title {
    text-align: center;
}

.cpd-graph {
    position: relative;
    text-align: center;
    padding: 10px;
    width: 47%;
    display: inline-block;
    vertical-align: top;
}

#ranking-contents {
    text-align: center;
}

#ranking-contents div {
    position: relative;
    text-align: center;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

.cpd-table {
    table-layout: fixed;
    overflow: auto;
}

.cpd-table td, th {
    border: 1px #f0f8ef solid; 
}

.cpd-table * {
    position: relative;
    font-size: 13px;
    *border-collapse: collapse;
    font-family: Helvetica, sans-serif;
    border-style: none;
    border-spacing: 0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.cpd-table pre * {
    *border-collapse: collapse;
    border-spacing: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.cpd-table th {
    background-color: #dcdcdc;
    font-size: 11px;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
}

.cpd-table tr:nth-child(even) {
    background: #f0f8ef;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
}

.cpd-table tr:nth-child(odd) {
    background-color: #fffff8;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
}

.popup-window {
	position:absolute;
	z-index:100;
    overflow: auto;
	background-color:white;
}

.popup-window * {
    font-size: 11px;
}

.detail-contents {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 49%;
    height: 100%;
    overflow: hidden;
}

.detail-contents h3 {
    text-align: center;
}

.src-view {
    position: relative;
    overflow: auto;
    height: 100%;
}

.black-filter {
	position:absolute;
    margin-top: -100px;
    padding-top: 0;
	top:0px;
	left:0px;
	z-index:99;
	opacity:0.8;
	background-color:black;
}

#footer {
    position: relative;
    height: 100px;
    width: 100%;
    color: white;
    font-size: 14px;
    background-image: url("images/gray.png");
}

#footer p {
    position:relative;
    text-align: center;
    top: 40px;
}

.metrics-tab-group {
    position: relative;
    top: 7px;
    left: 10px;
}

.metrics-tab-group span {
    cursor: pointer;
    padding: 5px 10px;
    float: left;
    border: solid 1px #aaa;
    margin-left: -1px;
    background-color: #fffafa;
}

.metrics-tab-group .tab-selected {
    color: #fff;
    background-color: #c3c3c3;
}
