<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>CopyPasteDetector Results</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="description" content=""/>
    <link rel="stylesheet" type="text/css" href="css/cpd.css"/>
    <link rel="stylesheet" type="text/css" href="css/jquery.snippet.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/jquery-bubble-popup-v3.css"/>
  </head>
  <body>
    <div class="cpd-container">
      <h2>CopyPasteDetector Results</h2>
      <div class="cpd-main">
        <table class="cpd-main-table">
          <thead><tr><th>score</th><th>location</th><th>src</th></tr></thead>
          <TMPL_LOOP NAME=cpd_main_table>
            <tr>
              <td><TMPL_VAR NAME=score></td>
              <TMPL_IF NAME=capacity_over>
                <td class="cpd-hit">
                  <ul>
                    <TMPL_LOOP NAME=short_location>
                      <li><TMPL_VAR NAME=file> : <TMPL_VAR NAME=start_line> ~ <TMPL_VAR NAME=end_line></li>
                    </TMPL_LOOP>
                    <li>.....</li>
                  </ul>
                  <div class="cpd-location">
                    <ul>
                      <TMPL_LOOP NAME=location>
                        <li><TMPL_VAR NAME=file> : <TMPL_VAR NAME=start_line> ~ <TMPL_VAR NAME=end_line></li>
                      </TMPL_LOOP>
                    </ul>
                  </div>
                </td>
              <TMPL_ELSE>
                <td>
                  <ul>
                    <TMPL_LOOP NAME=location>
                      <li><TMPL_VAR NAME=file> : <TMPL_VAR NAME=start_line> ~ <TMPL_VAR NAME=end_line></li>
                    </TMPL_LOOP>
                  </ul>
                </td>
              </TMPL_IF>
              <td><pre class="<TMPL_VAR NAME=class>"><code><TMPL_VAR NAME=src></code></pre></td>
            </tr>
          </TMPL_LOOP>
        </table>
      </div>
      <div class="footer">
        <p>Report produced by the CopyPasteDetector 1.00. developed by Masaaki Goshima.</p>
      </div>
    </div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.snippet.min.js"></script>
    <script type="text/javascript" src="js/jquery-bubble-popup-v3.min.js"></script>
    <script type="text/javascript" src="js/cpd.js"></script>
  </body>
</html>
