var sub_contents = [
<TMPL_LOOP NAME=cpd_contents>
"<TMPL_VAR NAME=name>",
</TMPL_LOOP>
];

function setPopupEvent()
{
	$('.cpd-hit').CreateBubblePopup({
		selectable: true,
		position : 'right',
		align	 : 'left',
        distance : '0px',
		innerHtml: null,
		innerHtmlStyle: {
            'position' : 'relative',
			'text-align':'left',
            'font-family': 'Helvetica, sans-serif',
            'font-size': '16px',
		},
		themeName: 	'azure',
		themePath: 	'images/jquerybubblepopup-themes'
	});
    $('.cpd-hit').mouseover(function(){
        $(this).SetBubblePopupInnerHtml($(this).find(".cpd-location").html(), true);
    });
}

$(document).ready(function(){
    $("pre").snippet("perl", {style:"emacs", menu:false, transparent:true, showNum:false});
    setPopupEvent();
    var proximity = 0.05;
    $(window).bind("scroll", function() {
        var o = $(this);
        var height = $(document).height();
        var pos = $(o).height() + $(o).scrollTop();
        if ((height - pos) / height <= proximity) {
            if (!$(o).data('loading')) {
                $(o).data('loading', true);
                var name = sub_contents.shift();
                if (name) {
                    var href = location.pathname;
                    var path = href.replace(/index.html$/, "");
                    $.get(path + name, function(response) {
                        $(".cpd-main-table").append(response);
                        var classname = name.replace(/.html$/, "");
                        $("pre." + classname).snippet("perl", {style:"emacs", menu:false, transparent:true, showNum:false});
                        setPopupEvent();
                        $(o).data('loading', false);
                    });
                }
            }
        }
    });
});
