<div id="footer">
  <p>Report produced by the CopyPasteDetector 1.00. developed by Masaaki Goshima.</p>
</div>
<script type="text/javascript" src="js/lib/jquery.js"></script>
<script type="text/javascript" src="js/lib/highcharts.js"></script>
<script type="text/javascript" src="js/lib/highstock.js"></script>
